li {
  list-style-type: none;
  padding-inline-start: 0;
}

.wrap__header {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.box__contact {
  display: flex;
  justify-content: flex-end;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.contact__button {
  box-shadow: inset 0px 0px 15px 3px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border-radius: 17px;
  border: 1px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Georgia;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.contact__button:hover {
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}
.contact__button:active {
  position: relative;
  top: 1px;
}
.close__cotactBtn {
  opacity: 0;
  pointer-events: none;
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url("../img/icon-close.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}
.container {
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "obj1 obj2 obj3"
    "obj1 obj4 obj4"
    "obj6 obj5 obj5"
    "obj7 obj5 obj5"
    "obj8 obj8 obj9"
    "obj10 obj11 obj11"
    "obj12 obj12 obj12";
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-inline-start:0;
}

.obj5 {
  grid-area: obj5;
}

.obj6 {
  grid-area: obj6;
}

.obj7 {
  grid-area: obj7;
}
.obj8 {
  grid-area: obj8;
}
.obj9 {
  grid-area: obj9;
}
.obj10 {
  grid-area: obj10;
}
.obj11 {
  grid-area: obj11;
}
.obj12 {
  grid-area: obj12;
}
.obj1 {
  grid-area: obj1;
}
.obj2 {
  grid-area: obj2;
}
.obj3 {
  grid-area: obj3;
}
.obj4 {
  grid-area: obj4;
}

.img__style {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}
.img__style:hover {
  transform: scale(1.03);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__image {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}
